@import "./assets/css/clear.css";

/* header */

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;

	font-size: 20px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 40px;

	background-color: #000000;
}

.logo {
	width: 90px;
	padding: 20px 0;
}

.logo:hover {
	cursor: pointer;
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
		contrast(87%);
}

.logo__image {
	width: 50px;
	height: 50px;
}

.wrapper {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: space-between;

	height: 90px;
}

.wrapper__nav {
	display: flex;
	align-items: center;
}

.menu__list {
	display: flex;
}

.menu__item {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-left: 30px;
	height: 50px;
}

.menu__link:hover {
	color: #BDAE82;
}

.lang {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 50px;
	padding-left: 31px;
}

.lang__button {
	color: inherit;
	font: inherit;
	font-weight: bold;
}

.slash {
	padding: 0 4px;
}

.gold {
	color: #BDAE82;
}

/* main hero */

.about {
	position: relative;
	top: -90px;
	left: -20px;
	/* z-index: -1; */

	height: 910px;
	width: 1440px;

	background-image: url('./assets/img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}

.author {
	padding: 250px 0 0 80px;
	width: 580px;
}

.author__title {
	font-family: 'Merriweather', serif;
	font-size: 60px;

	line-height: 120px;
}

.author__text {
	padding: 10px 30px 25px 0;
	line-height: 40px;
}

.button__active {
	width: 220px;
	height: 55px;

	background-color: #BDAE82;

	font: inherit;
}

.button__active:hover {
	color:#FFFFFF;
}

/* main skills */

.section {
	padding-top: 100px;
}

.section_without_padding {
	padding: 0;
}

.section__title {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 140px;

	color: #BDAE82;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 40px;

	padding-bottom: 45px;
}

.skills {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.skills__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 320px;
	height: 240px;
}

.skills__logo {
	padding: 10px 0 40px;
}

.skills__image {
	height: 50px;
}

.skills__title {
	font-weight: bold;
	font-size: inherit;
}

.skills__text {
	text-align: center;
	line-height: 36px;
	font-size: 18px;

	padding: 20px 20px 8px;
}

/* main portfolio */

.section__buttons {
	display: flex;
	justify-content: space-between;
	width: 895px;

	padding: 13px 0 60px;
	margin: 0 auto;
}

.button__inactive {
	background-color: transparent;
	color:#BDAE82;
	border: 1px solid #BDAE82;
}

.section__photos {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}

.section__photo {
	height: 585px;
	padding-bottom: 25px;
}

/* main video */

.video {
	position: relative;
	padding-top: 60px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.video__image {
	width: 100%;
}

.video__play {
	content: url('./assets/svg/Play_hover.svg');
	position: absolute;
}

.video__play:hover {
	cursor: pointer;
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
		contrast(87%);
}

/* main price */

.section__cards {
	display: flex;
	justify-content: space-between;
}

.card {
	width: 450px;
	padding: 43px 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	border: 1px solid #BDAE82;
}

.card__title {
	font-family: 'Merriweather', serif;
	font-size: 28px;
	font-weight: bold;

	height: 56px;
}

.card__price {
	font-family: 'Merriweather', serif;
	font-size: 24px;
	font-weight: bold;
	color: #BDAE82;
}

.card__description {
	width: 364px;
	padding: 20px 0 40px;

	text-align: center;
	font-size: 18px;
	line-height: 36px;
}

.section_bg {
	position: relative;
	top: 100px;
	left: -20px;
	padding-top: 7px;

	height: 700px;
	width: 1440px;

	background-image: url('./assets/img/contacts.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.contacts {
	display: flex;
	flex-direction: column;


	width: 450px;
	height: 445px;
	margin: 0 0 0 auto;
	padding: 60px 20px 0 0;
}

.contacts__title {
	margin: 0;
	text-align: left;
	padding: 0;
	height: 80px;

	display: flex;
	align-items: center;
}

.form {
	padding: 40px 0 30px;
}

.form__item {
	border: 1px solid #BDAE82;

	height: 50px;
	margin-top: 20px;
}

.form__input, .textarea {
	width: 100%;
	height: 100%;

	padding-left: 20px;
	background: transparent;
	outline: none;
	border: none;

	color: #BDAE82;
	font-size: 20px;
	font-family: 'Inter', sans-serif;
}

.form__input:focus, .textarea:focus {
	border-radius: 0;
	outline: none;
	color: #BDAE82;
	font-size: inherit;
}

.form__input::placeholder, .textarea::placeholder {
	color: #BDAE82;
	font-size: 20px;
	font-family: inherit;
}

.form__textarea {
	height: 100px;
}

.textarea {
	resize: none;
	overflow: hidden;
}

/* footer */

.footer__container {
	height: 250px;
}

.footer__data {
	display: flex;
	justify-content: space-between;

	padding-top: 150px;
	height: 150px;
}

.footer__cite {
	display: flex;
	justify-content: space-between;

	width: 182px;
}

.github:hover {
	color: #BDAE82;
}

.socials__links {
	display: flex;
}

.socials__link:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
		contrast(87%);
}

.socials__item {
	padding-left: 20px;
}
