.body {
    background-color: var(--main-bg-color);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;

    background-color: var(--main-bg-color);  

	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	font-size: var(--main-font-size);
	line-height: var(--main-line-height);
    color: var(--main-color);
}

.buttons__button_active {
	width: var(--button-width);
	height: var(--button-height);

	background-color: var(--sub-color);

	font: inherit;
}

.buttons__button_active:hover {
	color: var(--main-color);
}

.section {
    position: relative;

    padding-top: 100px;
}

.section__title {
    font-family: var(--sub-font-family);
    font-weight: 700;
    color: var(--sub-color);
    font-size: var(--title-font-size);

    line-height: var(--title-line-height);
    text-align: center;
}

.section__title::before {
    content: '';
    position: absolute;
    top: 139px;
    left: 350px;

    width: 700px;
    height: 2px;

    background-color: var(--sub-color);
}

.section__title_bg {
    display: inline-block;
    position: relative;

    padding: 0 20px;
    background-color: var(--main-bg-color);
}