.header__wrapper {
    height: var(--header-height);

    display: flex;
    justify-content: space-between;

    background-image: url('../img/bg.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
}

.logo, .logo__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo:hover {
    cursor: var(--hover-cursor);
    filter: var(--hover-change-color);
}

.navigation {    
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
}

.menu__item {
    padding-left: 30px;
}

.menu__link:hover {
    color: var(--sub-color);
}

.lang {
    padding-left: 31px;
}

.lang__en, .lang__slash, .lang__ru {
    color: inherit;

	font: inherit;
    font-weight: 700;
}

.lang__slash {
	padding: 0 4px;
}

.lang__en:hover, .lang__ru:hover {
    color: var(--sub-color);
}

.lang .active {
	color: var(--sub-color);
}