.buttons {
    padding: 60px 0 35px;
	margin: 0 auto;

	display: flex;
	justify-content: center;
}

.buttons__button {
    padding-right: 5px;
}

.buttons__button_inactive {
    background-color: transparent;
	color: var(--sub-color);

	border: 2px solid var(--sub-color);
}

.buttons__button_inactive.light-theme {
	color: var(--main-bg-color);
}

.photos {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}

.photos__photo {
    height: 585px;
	padding-top: 25px;
}